.button {
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  background-color: $secondary_color;
  border: none;
  border-radius: 3px;
  font-family: $font_style;
  padding: 8px 8px;
  color: $white_color;
  width: 330px;
  &:hover {
    @include hover(transparent, $secondary_color);
    border: 1px solid $secondary_color;
  }
  @include small-screen {
    width: 300px;
  }

  // @include medium-screen {
  //   width: 70%;
  // }

  // @include large-screen {
  //   width: 90%;
  // }
}
