$primary_color: #009368;
$secondary_color: #fca802;
$dark_color: #1d2127;
$light_color: #7777;
$white_color: #fff;
$background_color: #f4f4f4;
$font_style: sans-serif;
$font_medium: 2rem;
$font_default: 16px;
