.card {
  min-height: 500px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}
.card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.img {
  height: 300px;
  // max-height: 300px;
}
.title {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.profile {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.comment {
  position: absolute;
  bottom: 15px;
}
